{% extends 'base.html' %}
{% block title %}Edit Note: {{ note.title }}{% endblock %}
{% block body %}
<h2>Edit Note</h2>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{ form.title.data }}">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description">{{ form.description.data }}</textarea>
  </div>
  <div class="form-group">
    <label for="tags">Tags</label>
    <input type="text" class="form-control" id="tags" name="tags" value="{% for tag in form.tags.data %}{{ tag.name }}{% if not loop.last %}, {% endif %}{% endfor %}">
</div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}

