{% extends 'base.html' %}
{% block title %}Delete Note: {{ note.title }}{% endblock %}
{% block body %}
<h2>Delete Note</h2>
<p>Are you sure you want to delete the note "{{ note.title }}"?</p>
<form method="POST">
  {{ form.hidden_tag() }}
  <button type="submit" class="btn btn-danger">Delete</button>
  <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
